.ComboDownload button .MuiButton-label {
	color: #424242;
	font-family: 'Times New Roman', Times, serif;
	font-weight: 200;
	vertical-align: middle;
}

.ComboDownload button .MuiButton-label svg {
	vertical-align: middle;
}

.ComboDownload button {
	width: 40%;
	border: 1px solid #424242;
}
